*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "nose";
    src: url(./fontss/Chomsky-8MOa2.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "nose";
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;
}



.barra{
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
}