* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "nose";
    src: url(./fontss/Chomsky-8MOa2.otf)
}

.no {
    background-color: #F7F7F7;
    height: 1vh;
}

.uph {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
    right: 420px;
}

.bx-search-alt-2{
    font-size: 20px;
}

.leng {
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;
    height: 3vh;
    gap: 15px;
    font-size: 12px;
}

.sub{
    position: relative;
    left: 290px;
}

.btnsub{
    height: 29px;
    background-color: #567B95;
    color: aliceblue;
    border-radius: 4px;
    border-style: none;
    padding: 8px 12px;
}

.barra {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.textetc{
    color: #D0021B;
}
a{
    text-decoration: none;
    color: black;
}


.barra2 {
    background-color: aqua;
    display: inline-block;
    margin: 0 7rem;
}

.a1 {
    background-color: aquamarine;
    padding: 10px;
    height: 10vh;
    width: 19vw;
    font-size: 2rem;
    font-weight: bold;

    && a {
        text-decoration: none;
        color: inherit;
    }
    && li{
        font-size: 15px;
        color: grey;
    }
}

.barra3 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.colors{
    background-color: rgb(190, 48, 48);
    font-size: medium;

    color: white;

}

.bu{
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
